.header {
    background: $white-color;
    color: $grey-color;
    box-shadow:  0 -7px 20px -10px rgba(0, 0, 0, .5);

//&__container {}

&__main {
    min-height: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

//&__head {}

&__social {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}

&__item {
    display: flex;
    gap: 30px;
}
//.header-social__item {}

//.header-social {}

&__item-work {
    &.active{
        color: $black-color;
    }

    &:hover{
        color: $orange-color;
    }
}

//&__logo {}

&__search {
    --padding: 8px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 24px;
    background: $blue-text-color;
    transition: background 0.25s;
    position: relative;
    left: 10%;

    &:focus-within{
        background: #e8eef3;
    }
}

&__search-icon{
    width: 24px;
    height: 24px;
    fill: $blue-text-color;
}

&__profile-icon{
    width: 30px;
    height: 30px;
    fill: $grey-color;
}
&__search-input {
    font-size: 16px;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;

    &::placeholder{
        color: $blue-button-color;
    }
}

}