.social {

  

    &__container {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__user-box{
        display: flex;
        margin-bottom: 16px;
    }

    &__user {
        background: $white-color;
        margin-top: 32px;
        padding: 20px;
        border-radius: 8px;
        margin-bottom: 30px;
    }

    &__image {
        margin-right: 10px;
    }

    &__inner {}

    &__inner-name {}

    &__inner-prof {}


    &__input-group {
        position: relative;
    }

    &__input {
        padding: 8px;
        width: 100%;
        max-width: 200px;
        box-sizing: border-box;
        outline: none;
        border-radius: 24px;
        border: 1px solid $green-color;
        background: $green-soft-color;

        &::placeholder{
            color: $green-color;
        }
    }

    &__placeholder {
        position: absolute;
        top:10px;
        left: 8px;
        font-size: 14px;
        padding: 0px 5px;
        color: $green-color;
        transition: 0.3s;
        pointer-events: none;
    }

    &__button {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background: transparent;
        flex: 1;
        cursor: pointer;
    }

    &__pencil-icon {
        width: 18px;
        height: 18px;
        color: $green-color;
    }
}