$main-color: #F4F7F9;
$white-color: #fff;
$black-color: #000;

$grey-color: #D2D2D2;
$grey-alt-text: #ABABAB;
$grey-soft-color: #CACACA;

$green-color: #BBCF83;
$green-alt-text: #D4E0B0;
$green-soft-color: #F5F8EF;

$orange-color: #F69C15;
$orange-alt-text: #FDAA2E;
$orange-soft-color: #FEF6EE;

$blue-button-color: #AFCDE8;
$blue-text-color: #ECF3F7;



$gradient-red: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);


$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1920px;


$main-radius: 8px;